<table style="background-color:#d6d6d5;border:none;border-collapse:collapse;border-spacing:0;width:100%" width="100%"
	cellspacing="0" cellpadding="0" border="0" bgcolor="#d6d6d5">
	<tbody>
		<tr>
			<td align="center">

				<table style="border:none;border-collapse:collapse;border-spacing:0;max-width:700px;width:100%"
					width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td style="background-color:#ffffff" align="center">
								<table
									style="border:none;border-collapse:collapse;border-spacing:0;max-width:700px;width:100%"
									cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="background-size:cover;background-image:url('https://ci6.googleusercontent.com/proxy/Wm4Nko8XeB8RmIHMUpwjjI9vY-z0xc1ucnDY-MRyHKnOT2-7Vp7PHUwLvM6mz22lnwMicb36nqkUobFz4G1cLoXTzbJyz6yEe4DVbOrKJt6bHOTWixZQx0z8fLZoOmQSOWXDytQ=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/global/pattern/global-aqua-05.jpg')"
												valign="bottom" bgcolor="#62CEAD"
												background="https://ci6.googleusercontent.com/proxy/Wm4Nko8XeB8RmIHMUpwjjI9vY-z0xc1ucnDY-MRyHKnOT2-7Vp7PHUwLvM6mz22lnwMicb36nqkUobFz4G1cLoXTzbJyz6yEe4DVbOrKJt6bHOTWixZQx0z8fLZoOmQSOWXDytQ=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/global/pattern/global-aqua-05.jpg"
												align="center">
												<div>
													<table
														style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
														cellspacing="0" cellpadding="0" border="0">
														<tbody>
															<tr>
																<td style="padding:0;margin:0;width:81%" align="center">
																</td>
																<td style="padding:0;margin:0;width:13%" valign="bottom"
																	align="center"><img
																		src="https://ci5.googleusercontent.com/proxy/8LuxvhcXrM0Kser4t9LSXKQsaTwQVGdyhY-7Oc3CPE7uXx4YohLxBl5GLNEyGVoWVUjaulFiwsWygpCM7EMHzr-DbrInoo6yyLOmoD1RVIe566_BFpo=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/03/bitTop96x96.png"
																		style="clear:both;display:block;height:auto;max-height:60px;max-width:96px;min-width:65px;outline:none;text-decoration:none;width:100%"
																		class="CToWUd" width="96" height="" border="0">
																</td>
																<td style="padding:0;margin:0;width:6%;min-width:15px"
																	align="center"></td>
															</tr>
														</tbody>
													</table>
												</div>

											</td>
										</tr>
									</tbody>
								</table>
								<table
									style="border:none;border-collapse:collapse;border-spacing:0;margin:0 auto;max-width:700px;width:100%"
									cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="padding:0;margin:0;background-color:#ffffff" align="center">
												<table
													style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
													cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr>
															<td style="padding:0;margin:0;width:81%" align="center">
															</td>
															<td style="padding:0;margin:0;width:13%" align="center">
																<table
																	style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																	cellspacing="0" cellpadding="0" border="0">
																	<tbody>
																		<tr>
																			<td style="background-color:#000000"><img
																					src="https://evans-img.s3.us-east-2.amazonaws.com/PM.jpeg"
																					style="clear:both;display:block;height:auto;max-height:90px;max-width:96px;min-width:65px;outline:none;text-decoration:none;width:100%"
																					class="CToWUd" width="96" height=""
																					border="0"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td style="padding:0;margin:0;width:6%;min-width:15px"
																align="center"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table
									style="border:none;border-collapse:collapse;border-spacing:0;margin:auto;max-width:700px;width:100%"
									width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td align="center">
												<table
													style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;margin:auto;width:100%"
													width="100%" cellspacing="0" cellpadding="0" border="0"
													bgcolor="#ffffff">
													<tbody>
														<tr>
															<td align="center">

																<table
																	style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																	width="100%" cellspacing="0" cellpadding="0"
																	border="0">
																	<tbody>
																		<tr>
																			<td style="background-color:#ffffff"
																				align="center">


																				<table
																					style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																					width="100%" cellspacing="0"
																					cellpadding="0" border="0">
																					<tbody>
																						<tr>
																							<td>

																								<table
																									style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																									width="100%"
																									cellspacing="0"
																									cellpadding="0"
																									border="0">
																									<tbody>
																										<tr>
																											<td>




																												<table
																													style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																													width="100%"
																													cellspacing="0"
																													cellpadding="0"
																													border="0">
																													<tbody>
																														<tr>
																															<td style="padding:0 14px 0 14px"
																																align="left">
																																<table
																																	style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																	cellspacing="0"
																																	cellpadding="0"
																																	border="0">
																																	<tbody>
																																		<tr>
																																			<td>

																																				<table
																																					class="m_-7402403609010835124t1of12"
																																					style="border:none;border-collapse:collapse;border-spacing:0;max-width:56px;width:100%"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0"
																																					align="left">
																																					<tbody>
																																						<tr>
																																							<td
																																								style="font-size:12px;line-height:1px;padding-left:0px;padding-right:0px">
																																								<table
																																									style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%"
																																									width="100%"
																																									cellspacing="0"
																																									cellpadding="0"
																																									border="0"
																																									align="left">
																																									<tbody>
																																										<tr>
																																											<td>&nbsp;
																																											</td>
																																										</tr>
																																									</tbody>
																																								</table>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>





																																				<table
																																					class="m_-7402403609010835124t10of12"
																																					style="border:none;border-collapse:collapse;border-spacing:0;max-width:560px;width:100%"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0"
																																					align="left">
																																					<tbody>
																																						<tr>
																																							<td
																																								style="padding-left:12px;padding-right:12px">

																																								<table
																																									style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																									width="100%"
																																									cellspacing="0"
																																									cellpadding="0"
																																									border="0">
																																									<tbody>
																																										<tr>
																																											<td
																																												style="font-size:0px;line-height:0px;padding-bottom:20px">
																																												&nbsp;
																																											</td>
																																										</tr>
																																									</tbody>
																																								</table>

																																							</td>
																																						</tr>
																																						<tr>
																																							<td
																																								style="padding-left:12px;padding-right:12px">
																																								<table
																																									style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%"
																																									width="100%"
																																									cellspacing="0"
																																									cellpadding="0"
																																									border="0"
																																									align="left">
																																									<tbody>
																																										<tr>
																																											<td
																																												style="color:#717172;font-family:'ClanPro-Book','HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px">
																																												Hola : <br><br>

																																												<%=thtml%>
																																												
																																												<br>
																																												Su codigo es:
																																												<br> <br>
																																												<table style="width: 100%;">
																																													<tr>
																																														<td style="text-align: center;">
																																															<p style="background-color: black; padding: 20px 30px; border-radius: 5px; color: cornsilk; font-weight: bold; font-size: 30px;"><%=token%></p>
																																														</td>
																																													</tr>
																																												</table>

																																											</td>
																																										</tr>
																																										<tr>
																																											<td>

																																												<table
																																													style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																													width="100%"
																																													cellspacing="0"
																																													cellpadding="0"
																																													border="0">
																																													<tbody>
																																														<tr>
																																															<td
																																																style="font-size:0px;line-height:0px;padding-bottom:28px">
																																																&nbsp;
																																															</td>
																																														</tr>
																																													</tbody>
																																												</table>

																																											</td>
																																										</tr>


																																										<tr>
																																											<td>
																																												<table
																																													style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																													width="100%"
																																													cellspacing="0"
																																													cellpadding="0"
																																													border="0">
																																													<tbody>
																																														<tr>
																																															<td
																																																style="color:#717172;font-family:'ClanPro-Book','HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;line-height:28px">
																																																<%=mensajeFooter %>
																																															</td>
																																														</tr>
																																													</tbody>
																																												</table>
																																											</td>
																																										</tr>
																																										<tr>
																																											<td>

																																												<table
																																													style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																													width="100%"
																																													cellspacing="0"
																																													cellpadding="0"
																																													border="0">
																																													<tbody>
																																														<tr>
																																															<td
																																																style="font-size:0px;line-height:0px;padding-bottom:54px">
																																																&nbsp;
																																															</td>
																																														</tr>
																																													</tbody>
																																												</table>

																																											</td>
																																										</tr>
																																									</tbody>
																																								</table>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>

																																				<table
																																					class="m_-7402403609010835124t1of12"
																																					style="border:none;border-collapse:collapse;border-spacing:0;max-width:56px;width:100%"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0"
																																					align="left">
																																					<tbody>
																																						<tr>
																																							<td
																																								style="font-size:12px;line-height:1px;padding-left:0px;padding-right:0px">
																																								<table
																																									style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%"
																																									width="100%"
																																									cellspacing="0"
																																									cellpadding="0"
																																									border="0"
																																									align="left">
																																									<tbody>
																																										<tr>
																																											<td>&nbsp;
																																											</td>
																																										</tr>
																																									</tbody>
																																								</table>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>

																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</td>
																														</tr>
																													</tbody>
																												</table>
																											</td>
																										</tr>
																									</tbody>
																								</table>

																							</td>
																						</tr>
																					</tbody>
																				</table>

																			</td>
																		</tr>
																	</tbody>
																</table>

															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>




								<table style=" background-color:#000000;border:none;border-collapse:collapse;border-spacing:0;width:100%"
									width="100%" cellspacing="0" cellpadding="0" border="0">

									<tbody>
										<tr>
											<td style="background-color:#000000" align="center">
													<tbody>
														<tr>
															<td align="center">
																<table
																	style="border:none;border-collapse:collapse;border-spacing:0;max-width:700px;width:100%"
																	width="100%" cellspacing="0" cellpadding="0"
																	border="0">
																	<tbody>
																		<tr>
																			<td style="padding:0 26px">

																				<table
																					style="border:none;border-collapse:collapse;border-spacing:0;max-width:648px;table-layout:fixed;width:100%"
																					width="100%" cellspacing="0"
																					cellpadding="0" border="0">
																					<tbody>
																						<tr>
																							<td
																								style="font-size:0px;line-height:0px;padding-top:20px">
																								&nbsp;</td>
																						</tr>
																						<tr>
																							<td>
																								<table
																									style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																									width="100%"
																									cellspacing="0"
																									cellpadding="0"
																									border="0">
																									<tbody>
																										<tr>
																											<td
																												align="left">



																												<table
																													style="border:none;border-collapse:collapse;border-spacing:0;max-width:335px;table-layout:fixed;width:100%"
																													cellspacing="0"
																													cellpadding="0"
																													border="0"
																													align="left">
																													<tbody>
																														<tr>
																															<td
																																style="padding-top:40px">
																																<table
																																	style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%"
																																	width="100%"
																																	cellspacing="0"
																																	cellpadding="0"
																																	border="0"
																																	align="left">
																																	<tbody>
																																		<tr>
																																			<td
																																				align="left">
																																				<img src="https://evans-img.s3.us-east-2.amazonaws.com/2.jpeg"
																																					style="border:none;clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto"
																																					alt=""
																																					class="CToWUd"
																																					width="90"
																																					height="20">
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</td>
																														</tr>
																													</tbody>
																												</table>





																												<table
																													style="border:none;border-collapse:collapse;border-spacing:0;max-width:213px;table-layout:fixed;width:100%"
																													cellspacing="0"
																													cellpadding="0"
																													border="0"
																													align="left">
																													<tbody>
																														<tr>
																															<td
																																style="padding-top:40px">
																																<table
																																	style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																	width="100%"
																																	cellspacing="0"
																																	cellpadding="0"
																																	border="0"
																																	align="left">
																																	<tbody>
																																		<tr>
																																			<td
																																				style="padding-right:20px">
																																				<table
																																					style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																					width="9"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0">
																																					<tbody>
																																						<tr>
																																							<td><a href="#"
																																									target="_blank"
																																									data-saferedirecturl="#"><img
																																										src="https://ci4.googleusercontent.com/proxy/Ofc27Gzsao2zs5tFvQTl1zKnxm_Zp-ub71p2lkFGNelL4w_kWVDMiiPDmfTBkEwVBQqE01QfYbLhPIjXfrTmYldYf8nbvHTyU0JpUYcJ4i9axlugN_aT8Lf1WFmx7oJ6ig=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/01/footer_social_facebook.png"
																																										style="border:none;clear:both;display:block;height:19px;max-width:100%;outline:none;text-decoration:none;width:9px"
																																										alt=""
																																										class="CToWUd"
																																										width="9"
																																										height="19"></a>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>
																																			</td>
																																			<td
																																				style="padding-right:20px;padding-left:20px">
																																				<table
																																					style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																					width="25"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0">
																																					<tbody>
																																						<tr>
																																							<td><a href="#"
																																									target="_blank"
																																									data-saferedirecturl="#"><img
																																										src="https://ci3.googleusercontent.com/proxy/GVkGWc8dbj4-MqAkpULgz6r3h9tnvNOaJVmHyidZZHkQAiWxyFxTHO6kA8qLag79PiNc5aI_WOv2cz3Fb_YBSLeFYLhk2PpRD0UGB0nBjsdDUjoMWd74M9WXpaIDxsHk=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/01/footer_social_twitter.png"
																																										style="border:none;clear:both;display:block;height:19px;max-width:100%;outline:none;text-decoration:none;width:25px"
																																										alt=""
																																										class="CToWUd"
																																										width="25"
																																										height="19"></a>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>
																																			</td>
																																			<td
																																				style="padding-right:20px;padding-left:20px">
																																				<table
																																					style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																					width="20"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0">
																																					<tbody>
																																						<tr>
																																							<td><a href="#"
																																									target="_blank"
																																									data-saferedirecturl="#"><img
																																										src="https://ci4.googleusercontent.com/proxy/hp5zynoevs30rhLlhegzz6OQKZUxnaC2x0NlH6K0GuIqjd1ewZafGu1ecf_FeYZSlebPjK2sK_rjo-HdeVLrFginQvKLrqggrNf8EFjy-pDjcDFNU7_PP4THexHfJegRNmw=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/01/footer_social_instagram.png"
																																										style="border:none;clear:both;display:block;height:19px;max-width:100%;outline:none;text-decoration:none;width:20px"
																																										alt=""
																																										class="CToWUd"
																																										width="20"
																																										height="19"></a>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>
																																			</td>
																																			<td
																																				style="padding-right:20px;padding-left:20px">
																																				<table
																																					style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																					width="19"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0">
																																					<tbody>
																																						<tr>
																																							<td><a href="#"
																																									target="_blank"
																																									data-saferedirecturl="#"><img
																																										src="https://ci5.googleusercontent.com/proxy/C7glDzA4_if1dAitoMIShBcNhoV4N5ih5Ix0mzSRFCW1v31eHRZ3QnPJkP0c1ONAGCYzW7GNJDk1UCYm4ptnUK9hpqPDqsE2pmUR0iXwv8kR9PvKxjfaT4t606tZx3oIPw=s0-d-e1-ft#https://uber-static.s3.amazonaws.com/emails/2016/01/footer_social_linkedin.png"
																																										style="border:none;clear:both;display:block;height:19px;max-width:100%;outline:none;text-decoration:none;width:19px"
																																										alt=""
																																										class="CToWUd"
																																										width="19"
																																										height="19"></a>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</td>
																														</tr>
																													</tbody>
																												</table>



																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																						<tr>
																							<td
																								style="padding:40px 0 0 0">
																								<table
																									style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																									width="100%"
																									cellspacing="0"
																									cellpadding="0"
																									border="0">

																									<tbody>
																										<tr>
																											<td style="font-size:0px;line-height:0px;background:#333333"
																												height="1">
																												&nbsp;
																											</td>
																										</tr>

																									</tbody>
																								</table>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								<table
																									style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																									width="100%"
																									cellspacing="0"
																									cellpadding="0"
																									border="0">
																									<tbody>
																										<tr>
																											<td style="vertical-align:top"
																												valign="top">

																												<table
																													style="border:none;border-collapse:collapse;border-spacing:0;max-width:335px;table-layout:fixed;width:100%"
																													cellspacing="0"
																													cellpadding="0"
																													border="0"
																													align="left">
																													<tbody>
																														<tr>
																															<td style="padding-top:30px;vertical-align:top"
																																valign="top"
																																align="left">
																																<table
																																	style="border:none;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%"
																																	width="100%"
																																	cellspacing="0"
																																	cellpadding="0"
																																	border="0"
																																	align="left">
																																	<tbody>
																																		<tr>
																																			<td style="color:#ffffff;font-family:'ClanPro-News','HelveticaNeue-Light','Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:14px;line-height:28px"
																																				align="left">
																																				<a href="#"
																																					style="color:#ffffff;text-decoration:none"
																																					target="_blank"
																																					data-saferedirecturl="#">Obtener
																																					ayuda</a>
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</td>
																														</tr>
																													</tbody>
																												</table>





																												<table
																													style="border:none;border-collapse:collapse;border-spacing:0;max-width:313px;table-layout:fixed;width:100%"
																													cellspacing="0"
																													cellpadding="0"
																													border="0"
																													align="left">
																													<tbody>
																														<tr>
																															<td>
																																<table
																																	style="border:none;border-collapse:collapse;border-spacing:0;width:100%"
																																	width="100%"
																																	cellspacing="0"
																																	cellpadding="0"
																																	border="0"
																																	align="left">
																																	<tbody>
																																		<tr>
																																			<td
																																				align="left">

																																				<table
																																					style="border:none;border-collapse:collapse;border-spacing:0;max-width:185px;table-layout:fixed;width:100%"
																																					cellspacing="0"
																																					cellpadding="0"
																																					border="0"
																																					align="left">
																																					<tbody>
																																						<tr>
																																							<td style="color:#9d9da3;font-family:'ClanPro-Medium',Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;padding-right:10px;padding-top:30px"
																																								align="left">
																																								Evans Technologies inc. <br> CORREO: <b>evans.soporte@gmail.com</b>  
																																								<!--B.V.<br>Mr.
																																								Treublaan
																																								7,
																																								1097-->
																																								<br>
																																								PUNO
																																							</td>
																																						</tr>
																																						<tr>
																																							<td style="color:#9d9da3;font-family:'ClanPro-Medium',Helvetica,Arial,sans-serif;font-size:12px;line-height:26px;padding-top:6px"
																																								align="left">
																																								<a href="#"
																																									style="color:#ffffff;text-decoration:none"
																																									target="_blank"
																																									data-saferedirecturl="#">
																																									Privacidad</a>
																																								<br>
																																								<a href="#"
																																									style="color:#ffffff;text-decoration:none"
																																									target="_blank"
																																									data-saferedirecturl="#">
																																									Condiciones
																																								</a>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</td>
																														</tr>
																													</tbody>
																												</table>

																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																						<tr>
																							<td
																								style="font-size:0px;line-height:0px;padding-top:60px">
																								&nbsp;</td>
																						</tr>
																					</tbody>
																				</table>

																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

			</td>
		</tr>
	</tbody>
</table>